@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: linear-gradient(#ffe6b1, #18b2d8);
}

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: #ffe6b1;
    z-index: 999;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}
.navbar .logo h1{
    color: #424144;
}
.navbar .logo img{
    color: #fff;
    width: 37.47px;
    height: 37.25px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar .menu li .active{
    border-bottom: 2px solid #f63e4e;
}
.navbar .menu li a i{
    color: #f63e4e;
}
.navbar .menu li a:hover{
    border-bottom: 2px solid #f63e4e;
}

.content{
    height: 100vh;
    background-image: url("images/ex67.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #424144;
}
.content h1{
    font-size: 40px;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
}
.content a{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.content a:visited{
    text-decoration: none;
    color: no-change;
}

.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .card img{
    width: 100%;
    height: 250px;
}
.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    text-decoration: none;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: #fff;
}
.products .card .box .btn:visited{
    text-decoration: none;
    color: no-change;
}

footer{
    background-color: #ffe6b1;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}

@media (max-width: 820px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -150%;
        top: 0;
        background-color: #f3f4f6;
        text-align: center;
        padding: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: -20%;
    }
    .navbar .menu li{
        display: flex;
        justify-content: center;
    }
    .navbar .menu li a{
        margin: 10px 0;
        font-size: 25px;
    }
}